.ok-board {
    background-color: hsl(48, 100%, 67%);

    color: #4c421a;
    text-align: center;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
    font-weight: 400;
    line-height: 1.5rem;
}

.ok-board a {
    color: #4c421a;
    text-decoration: none;
    font-weight: 700;
}
.ok-board a:hover {
    text-decoration: underline;
}


.ok-board td {
    padding: 5px;
    position: relative;
}

.ok-board tbody td:before, .ok-board td:after {
    position: absolute;
    content: "";
    z-index: 1;
    background: #c6ab43;
    top: 50%;
    left: 50%;
}

.ok-board tbody td:before {
    width: 1px;
    height: 7px;
    margin-top: -3px;
}

.ok-board tbody td:after {
    width: 7px;
    height: 1px;
    margin-left: -3px;
}

.ok-board .cell {
    z-index: 2;
    width: 30px;
    height: 30px;
    border-radius: 25px;
    transform: scale(0,0);
}

.ok-board .cell.white, .ok-board .cell.black {
    animation: .6s stone-in linear;
    animation-fill-mode: forwards;
    transform: scale(1,1); /* Fallback for no animation */
}

.ok-board .cell.white {
    background-color: white;
}

.ok-board .cell.black {
    background-color: #4c421a;
}

@keyframes stone-in {
    0%   { transform: scale(0.0000000000000000,0.0000000000000000); }
    1%   { transform: scale(0.0086376425736435,0.0086376425736435); }
    2%   { transform: scale(0.0330887625352196,0.0330887625352196); }
    3%   { transform: scale(0.0711510629593647,0.0711510629593647); }
    4%   { transform: scale(0.1206407562318391,0.1206407562318391); }
    5%   { transform: scale(0.1794274565577675,0.1794274565577675); }
    6%   { transform: scale(0.2454642206432976,0.2454642206432976); }
    7%   { transform: scale(0.3168127828753256,0.3168127828753256); }
    8%   { transform: scale(0.3916640928859013,0.3916640928859013); }
    9%   { transform: scale(0.4683543411253555,0.4683543411253555); }
    10%  { transform: scale(0.5453767168481676,0.5453767168481676); }
    11%  { transform: scale(0.6213891722725492,0.6213891722725492); }
    12%  { transform: scale(0.6952185240152420,0.6952185240152420); }
    13%  { transform: scale(0.7658612245216500,0.7658612245216500); }
    14%  { transform: scale(0.8324811775766403,0.8324811775766403); }
    15%  { transform: scale(0.8944049645431824,0.8944049645431824); }
    16%  { transform: scale(0.9511148520727033,0.9511148520727033); }
    17%  { transform: scale(1.0022399583479304,1.0022399583479304); }
    18%  { transform: scale(1.0475459264013480,1.0475459264013480); }
    19%  { transform: scale(1.0869234569598470,1.0869234569598470); }
    20%  { transform: scale(1.1203760160865943,1.1203760160865943); }
    21%  { transform: scale(1.1480070272750575,1.1480070272750575); }
    22%  { transform: scale(1.1700068155384470,1.1700068155384470); }
    23%  { transform: scale(1.1866395570699100,1.1866395570699100); }
    24%  { transform: scale(1.1982304538616665,1.1982304538616665); }
    25%  { transform: scale(1.2051533264040694,1.2051533264040694); }
    26%  { transform: scale(1.2078187825980012,1.2078187825980012); }
    27%  { transform: scale(1.2066631056510982,1.2066631056510982); }
    28%  { transform: scale(1.2021379606281764,1.2021379606281764); }
    29%  { transform: scale(1.1947010051916436,1.1947010051916436); }
    30%  { transform: scale(1.1848074615498618,1.1848074615498618); }
    31%  { transform: scale(1.1729026816681414,1.1729026816681414); }
    32%  { transform: scale(1.1594157202720172,1.1594157202720172); }
    33%  { transform: scale(1.1447539120167033,1.1447539120167033); }
    34%  { transform: scale(1.1292984275093278,1.1292984275093278); }
    35%  { transform: scale(1.1134007772340152,1.1134007772340152); }
    36%  { transform: scale(1.0973802121022590,1.0973802121022590); }
    37%  { transform: scale(1.0815219633458372,1.0815219633458372); }
    38%  { transform: scale(1.0660762598024857,1.0660762598024857); }
    39%  { transform: scale(1.0512580475213764,1.0512580475213764); }
    40%  { transform: scale(1.0372473387120573,1.0372473387120573); }
    41%  { transform: scale(1.0241901137453345,1.0241901137453345); }
    42%  { transform: scale(1.0121996972080980,1.0121996972080980); }
    43%  { transform: scale(1.0013585305311918,1.0013585305311918); }
    44%  { transform: scale(0.9917202686633095,0.9917202686633095); }
    45%  { transform: scale(0.9833121263498484,0.9833121263498484); }
    46%  { transform: scale(0.9761374067964204,0.9761374067964204); }
    47%  { transform: scale(0.9701781499211256,0.9701781499211256); }
    48%  { transform: scale(0.9653978407975245,0.9653978407975245); }
    49%  { transform: scale(0.9617441264256894,0.9617441264256894); }
    50%  { transform: scale(0.9591514930968282,0.9591514930968282); }
    51%  { transform: scale(0.9575438645693993,0.9575438645693993); }
    52%  { transform: scale(0.9568370845882814,0.9568370845882814); }
    53%  { transform: scale(0.9569412560592633,0.9569412560592633); }
    54%  { transform: scale(0.9577629126462420,0.9577629126462420); }
    55%  { transform: scale(0.9592070055484277,0.9592070055484277); }
    56%  { transform: scale(0.9611786920943880,0.9611786920943880); }
    57%  { transform: scale(0.9635849187467915,0.9635849187467915); }
    58%  { transform: scale(0.9663357948554946,0.9663357948554946); }
    59%  { transform: scale(0.9693457574055066,0.9693457574055066); }
    60%  { transform: scale(0.9725345307939384,0.9725345307939384); }
    61%  { transform: scale(0.9758278884821900,0.9758278884821900); }
    62%  { transform: scale(0.9791582261394115,0.9791582261394115); }
    63%  { transform: scale(0.9824649577847353,0.9824649577847353); }
    64%  { transform: scale(0.9856947483257156,0.9856947483257156); }
    65%  { transform: scale(0.9888015967867100,0.9888015967867100); }
    66%  { transform: scale(0.9917467862706735,0.9917467862706735); }
    67%  { transform: scale(0.9944987158683784,0.9944987158683784); }
    68%  { transform: scale(0.9970326312039000,0.9970326312039000); }
    69%  { transform: scale(0.9993302695538216,0.9993302695538216); }
    70%  { transform: scale(1.0013794350123476,1.0013794350123476); }
    71%  { transform: scale(1.0031735190782865,1.0031735190782865); }
    72%  { transform: scale(1.0047109806939648,1.0047109806939648); }
    73%  { transform: scale(1.0059947993604520,1.0059947993604520); }
    74%  { transform: scale(1.0070319134949088,1.0070319134949088); }
    75%  { transform: scale(1.0078326552237604,1.0078326552237604); }
    76%  { transform: scale(1.0084101916476513,1.0084101916476513); }
    77%  { transform: scale(1.0087799812568187,1.0087799812568187); }
    78%  { transform: scale(1.0089592530095737,1.0089592530095737); }
    79%  { transform: scale(1.0089665143457395,1.0089665143457395); }
    80%  { transform: scale(1.0088210931137806,1.0088210931137806); }
    81%  { transform: scale(1.0085427175192046,1.0085427175192046); }
    82%  { transform: scale(1.0081511366810776,1.0081511366810776); }
    83%  { transform: scale(1.0076657838029143,1.0076657838029143); }
    84%  { transform: scale(1.0071054827683280,1.0071054827683280); }
    85%  { transform: scale(1.0064881982187876,1.0064881982187876); }
    86%  { transform: scale(1.0058308284617112,1.0058308284617112); }
    87%  { transform: scale(1.0051490398641354,1.0051490398641354); }
    88%  { transform: scale(1.0044571408112546,1.0044571408112546); }
    89%  { transform: scale(1.0037679929488283,1.0037679929488283); }
    90%  { transform: scale(1.0030929569257910,1.0030929569257910); }
    91%  { transform: scale(1.0024418697437903,1.0024418697437903); }
    92%  { transform: scale(1.0018230504215910,1.0018230504215910); }
    93%  { transform: scale(1.0012433307616453,1.0012433307616453); }
    94%  { transform: scale(1.0007081078240043,1.0007081078240043); }
    95%  { transform: scale(1.0002214147494948,1.0002214147494948); }
    96%  { transform: scale(0.9997860066859386,0.9997860066859386); }
    97%  { transform: scale(0.9994034586465400,0.9994034586465400); }
    98%  { transform: scale(0.9990742722728143,0.9990742722728143); }
    99%  { transform: scale(0.9987979887219980,0.9987979887219980); }
    100% { transform: scale(0.9985733050485470,0.9985733050485470); }
}